{{!-- nav  --}}
{{>navAdmin}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container mt-5 mb-5">
    <h2>Danh sách người dùng yêu cầu chuyển tiền </h2>    
    <small>
        <a href="/admin/">Back</a>
    </small>
    <table class="table table-bordered">
        <h1>Yêu cầu nạp và rút tiền</h1>
        <thead>
            <tr>
                <th>STT</th>
                <th>Loại</th>
                <th>Số tiền</th>
                <th>Ngày</th>
                <th>Thời gian</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataNopRut}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{type}}</td>
                    <td>{{vnd recharge}}</td>
                    <td>{{dateRecharge}}</td>
                    <td>{{timeRecharge}}</td>
                    <td>
                        <a href="/admin/detailNopRut/{{id}}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <table class="table table-bordered">
        <h1>Yêu cầu Chuyển Tiền</h1>
        <thead>
            <tr>
                <th>STT</th>
                <th>Số tiền</th>
                <th>Ngày</th>
                <th>Thời gian</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataTransfer}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{vnd money}}</td>
                    <td>{{date}}</td>
                    <td>{{time}}</td>
                    <td>
                        <a href="/admin/detailTransfer/{{id}}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- end body --}}
