{{!-- nav  --}}
{{>nav}}
{{!-- end nav --}}

{{!-- body --}}
<div class="container mt-5 mb-5">
    <h2>Chi tiết người dùng</h2>    
    <small>
        <a href="/admin//list/user_wait">Back</a>
    </small>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        {{#each data}}
            <div class="row">
                <div class="col-lg-6">
                    <label style="font-size: 20px; font-weight: 500;" for="">Email</label>
                    <p>{{email}}</p>
                </div>
                <div class="col-lg-6">
                    <label style="font-size: 20px; font-weight: 500;" for="">Name</label>
                    <p>{{name}}</p>
                </div>
            </div>

            <div>
                <label style="font-size: 20px; font-weight: 500;" for="">SDT</label>
                <div>{{sdt}}</div>
            </div>

            <div>
                <label style="font-size: 20px; font-weight: 500;" for="">Address</label>
                <div>{{diachi}}</div>
            </div>

            <div>
                <label style="font-size: 20px; font-weight: 500;" for="">Username</label>
                <div>{{username}}</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label style="font-size: 20px; font-weight: 500;" for="">CCCD mặt trước</label>
                    <div><img style="max-width: 200px; max-height: 200px;" src="/{{image_cccd_truoc}}" alt=""></div>
                </div>

                <div class="col-lg-6">
                    <label style="font-size: 20px; font-weight: 500;" for="">CCCD mặt sau</label>
                    <div><img style="max-width: 200px; max-height: 200px;" src="/{{image_cccd_sau}}" alt=""></div>
                </div>
            </div>
        {{/each}}
    </div>
    <div id="message"></div>
</div>


{{!-- end body --}}


{{!-- script js --}}

