{{!-- nav  --}}
{{>navAdmin}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container mt-5 mb-5">
    <h2>Danh sách người dùng yêu cầu chuyển tiền </h2>    
    <small>
        <a href="/admin/approve_withdraw_money">Back</a>
    </small>
    {{#each data}}
        <div class="form-group">
            <label for="">Người yêu cầu</label>
            <h3 class="form-control">{{email}}</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Mã thẻ</label>
                    <h3 class="form-control">{{numberCard}}</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Ngày hết hạn thẻ</label>
                    <h3 class="form-control">{{expirationDate}}</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="">Mã CVV</label>
                    <h3 class="form-control">{{codeCVV}}</h3>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Số tiền yêu cầu</label>
            <h3 class="form-control">{{vnd recharge}}</h3>
        </div>
        <div class="form-group">
            <label for="">Thời gian yêu cầu</label>
            <h3 class="form-control">{{timeRecharge}}, {{dateRecharge}}</h3>
        </div>
        <div class="form-group">
            <label for="">Loại yêu cầu</label>
            <h3 class="form-control">{{type}}</h3>
        </div>
        <div class="form-group">
            <label for="">Ghi chú yêu cầu</label>
            <textarea readonly class="form-control">{{note}}</textarea>
        </div>
        <div class="form-group">
            <label for="">Tình trạng yêu cầu</label>
            <h3 class="form-control">{{status}}</h3>
        </div>
    {{/each}}
    <div id="message"></div>
    <div class="row">
        <div class="col-lag-6">
            <button class="btn btn-success" style="width: 330px; margin-right: 30px; margin-bottom: 30px;" data-toggle="modal" data-target="#approve">Đồng ý</button>
        </div>
        <div class="col-lag-6">
            <button class="btn btn-danger" style="width: 330px;" data-toggle="modal" data-target="#cancel">Từ chối</button>
        </div>
    </div>
</div>


{{!-- end body --}}
<!-- Modal Approve -->
<div class="modal fade" id="approve" tabindex="-1" role="dialog" aria-labelledby="approveModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="approveModal">Chấp thuận</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{#each data}}
            <div class="modal-body">
            Bạn có đồng ý chấp thuận yêu cầu này <strong>{{type}}</strong> của <strong>{{email}}</strong> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnApprove" data-id="{{id}}">Chấp thuận</button>
            </div>
        {{/each}}
    </div>
  </div>
</div>

<!-- Modal Cancel -->
<div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cancelModal">Từ chối</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{#each data}}
            <div class="modal-body">
            Bạn có đồng ý từ chối yêu cầu này <strong>{{type}}</strong> của <strong>{{email}}</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnCancel" data-id="{{id}}">Từ chối</button>
            </div>
        {{/each}}
    </div>
  </div>
</div>

<script>
    $(document).ready(() => {
        $('#btnApprove').click(() => {
            let id = $('#btnApprove').attr('data-id')
            console.log(id)
            var http = new XMLHttpRequest();
            var url = `http://localhost:5000/admin/approveNopRut/`;
            var params = `id=${id}`;
            http.open('POST', url, true);

            //Send the proper header information along with the request
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function() {//Call a function when the state changes.
                if(http.readyState == 4 && http.status == 200) {
                    $('#approve').modal('hide')
                    $('#message').css('color', 'red')
                    $('#message').css('font-size', "20px")
                    $('#message').css('font-weight', '500')
                    $('#message').html(http.responseText)
                    setInterval(() => {
                        location.href = '/admin/approve_withdraw_money'
                    }, 3000)
                }
            }
            http.send(params);
        })

        $('#btnCancel').click(() => {
            let id = $('#btnCancel').attr('data-id')
            console.log(id)
            var http = new XMLHttpRequest();
            var url = `http://localhost:5000/admin/cancelNopRut/`;
            var params = `id=${id}`;
            http.open('POST', url, true);

            //Send the proper header information along with the request
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function() {//Call a function when the state changes.
                if(http.readyState == 4 && http.status == 200) {
                    $('#cancel').modal('hide')
                    $('#message').css('color', 'red')
                    $('#message').css('font-size', "20px")
                    $('#message').css('font-weight', '500')
                    $('#message').html(http.responseText)
                    setInterval(() => {
                        location.href = '/admin/approve_withdraw_money'
                    }, 3000)
                }
            }
            http.send(params);
        })
    })
</script>