{{!-- nav  --}}
{{>navAdmin}}
{{!-- end nav --}}

{{!-- body --}}

<div class="container mt-5 mb-5">
    <h2>Danh sách người dùng chưa kích hoạt</h2>    
    <small>
        <a href="/admin/manage-user">Back</a>
    </small>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Activated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                    <td>{{diachi}}</td>
                    <td>{{activated}}</td>
                    <td>
                        <a href="http://localhost:5000/admin/detailUser/{{email}}">View</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- end body --}}
